requests
uvicorn
langchain
langchain-ollama
langchain-community
langchain-huggingface
transformers
fastapi
faiss-cpu
PyMuPDF
python-dotenv
python-multipart
python-magic
aiofiles
ftfy
nltk
streamlit
pypdf
